

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
	font-size:30px;
}

p{
	line-height: 1.2em;
	margin-bottom:200px;
}

em{
	font-weight: bold;
	font-style: normal;
	display: block;
}









