

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
	font-size:30px;
}

p{
	line-height: 1.2em;
}

em{
	font-weight: bold;
	font-style: normal;
	display: block;
}



.men{
	background-repeat: no-repeat;
	background-position: top left;
	display:block;
}

.men.stuck{
	position:fixed;
}

.men.thousand{
	background-repeat: repeat-y;
	background-image:url('../img/1000-men.png');
	width:450px;
	height:1416px;
}

.men.hundred{
	background-repeat: repeat-y;
	background-image:url('../img/1000-men.png');
	width:450px;
	height:510px;	
}
.men.hundred.orange{
	background-image:url('../img/1000-men-orange.png');
}




