

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
	font-size:28px;
}

p{
	line-height: 1.2em;
}

em{
	font-weight: bold;
	font-style: normal;
	display: block;
}

.orange{
	color:#ff6600;
}

.red{
	color:#c00019;
}

.container{
	display:block;
}

#men img{
	position:absolute;
	top:0px;
	left:0px;
}


.stuck{
	position:fixed;
}

.men{
	background-repeat: no-repeat;
	background-position: top left;
	display:block;
}

.men.thousand{
	background-repeat: repeat-y;
	background-image:url('../img/1000-men.png');
	width:450px;
	height:1416px;
}

.men.hundred{
	background-repeat: repeat-y;
	background-image:url('../img/1000-men.png');
	width:450px;
	height:510px;	
}
.men.hundred.orange{
	background-image:url('../img/1000-men-orange.png');
}
.men.hundred.orange.red{
	background-image:url('../img/1000-men-orange-red.png');
	background-position: bottom left;
}

.screen{
	position: relative;
}

.screen .btn-next{
	position: absolute;
	bottom: 0px;
}




